<div class="card" style="width: 450px; height: auto; margin-left: 450px;">
    <img [src]="char.image" class="card-img-top" alt={{char.name}}>
    <div class="card-body">
      <h5 class="card-title">{{char.name}}</h5>
      <p class="card-text">Location: {{char.location.name}}</p>
      <p class="card-text">Species: {{char.species}}</p>
      <p class="card-text">Gender: {{char.gender}}</p>
      <p class="card-text">Origin: {{char.origin.name}}</p>
      <p class="card-text">Created: {{char.created}}</p>
      <a href="#" class="btn btn-primary" [routerLink]="['/characters']">Return</a>
    </div>
</div>