<h1 style="text-align: center;">Welcome to Rick and Morty - Character Wiki</h1>
<div style="display: flex; justify-content: space-around;">
    <div class="card" style="width: 18rem;">
        <img src="https://images.squarespace-cdn.com/content/v1/528252b7e4b00150d03a4848/1503802786036-ZOOD48EI07ZEY2B3N3I9/ke17ZwdGBToddI8pDm48kJUlZr2Ql5GtSKWrQpjur5t7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1Uc2TsYyWrvo4cxLsTiAHD0wm8wv6KuSQ-vWcvdKCNFvRm4bjm9DAHF2kOsIZRJKXnA/RickAndMorty_RickAngryBurp1500.gif?format=500w" class="card-img-top" alt="Rick">
        <div class="card-body">
        <h5 class="card-title">Learn more about all this unique characters</h5>
        <p class="card-text">+600 characters to this day</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://images.squarespace-cdn.com/content/v1/528252b7e4b00150d03a4848/1503802775944-14J565KYKE9VUEXQZ7UX/ke17ZwdGBToddI8pDm48kJUlZr2Ql5GtSKWrQpjur5t7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1Uc2TsYyWrvo4cxLsTiAHD0wm8wv6KuSQ-vWcvdKCNFvRm4bjm9DAHF2kOsIZRJKXnA/RickAndMorty_MortyConfusedBlink1500.gif?format=500w" class="card-img-top" alt="Morty">
        <div class="card-body">
        <h5 class="card-title">Show some love</h5>
        <p class="card-text">Tell us which characters are your favourite (you must sign-in first)</p>
        </div>
    </div>
</div>